{% extends "base.html.twig" %}
{% block body %}
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Wizyty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="true" href="/vaccine">Szczepienia</a>
        </li>
    </ul>
</div>
{% endblock %}