{% extends "base.html.twig" %}
{% block body %}
    <div class="card text-center">
        <div class="text-center">
            <h5 class="card-title mt-4 text-uppercase">Profil zwierza</h5>
        </div>
        <div class="text-center mt-4 mb-4">
            <h5 class="card-title">{{ animal.name }}</h5>
            {{ animal.species }} |
            {{ animal.breed }} |
            {% if animal.sex == 'female' %}
                <span>&female;</span> |
            {% else %}
                <span>&male;</span> |
            {% endif %}
            {{ date().diff(date(animal.dateOfBirth)).y }} lat
        </div>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Wizyty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link alert-warning" href="#">Szczepienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Odrobaczanie</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Szczegółowe informacje</h5>
            <p class="card-text">Tu jest jakaś informacja o zwierzaku jak on się tu leczy.</p>
        </div>
    </div>
    <div>
        <p class="text-center mt-2"><a href="/" class="btn btn-warning"> Powrót </a></p>
    </div>
{% endblock %}