{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <ul class="list-group">
            {% for vaccine in vaccines %}
            <li class="list-group-item">
                <p>
                    {{ vaccine.date|date("m/d/Y") }}
                    {{ vaccine.description }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
