{% extends 'animal/animal-base.html.twig' %}
{% block tabcontent %}
<div class="container">
    <ul class="list-group">
        {% for vaccine in vaccines %}
            <li class="list-group-item">
                <p>
                    {{ vaccine.date|date("m/d/Y") }}
                    {{ vaccine.description }}
                </p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}
